{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body style="background-color: #CFB372; text-align: center; color:#000000">

    <table align="center" style="background-color:#EFD28D">
        <tr>
            <td align="center" width="90px"><a href="home" style="color:#14790F">Home</a></td>
            <td align="center" width="120px"><a href="query_results" style="color:#14790F">Query Results</a></td>
            <td align="center" width="150px"><a href="add_a_pokemon" style="color:#14790F">Add a Pokemon</a></td>
        </tr>
    </table>
    <br>

    <h1 style="color:#14790F">Pokemon League Website</h1><br>
    <img src="{% static 'img.jpg' %}" alt="img" style="width:500px">
    <br>


    <br>
    <h2 style="color:#000000">Welcome to the official Pokemon League Website - in Haifa!</h2>
    <div>this website is part of our Green Campaign!</div>
    <br>

</body>